.cart{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: 50%; 
    background-color: #f1f1f1;
    padding: 10px;
}
.btnBorrar{
    border: none;
    background-color: #fff;
}
.h5Total{
    
    text-shadow: 3px 3px  5px rgb(76, 194, 98);
}